X_AI_Influencer_-_Automated_Tweet_Generation.json
{
  "name": "X AI Influencer - Automated Tweet Generation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtMinute": {}
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        80
      ],
      "id": "4980ede8-b49b-4d2f-b633-0dbcd0ca0418",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab23d0c9-b413-4128-83ef-84815630fdfa",
              "name": "country",
              "value": "india",
              "type": "string"
            },
            {
              "id": "81ec54ba-08ae-45ab-90d4-bcaf34a87725",
              "name": "total posts",
              "value": "5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        80
      ],
      "id": "4aad523d-4fc5-4a7e-822b-2ac02b71b8c8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://trends24.in/{{ $json.country }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        80
      ],
      "id": "26003056-984f-4821-9e4e-233144cb91a3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data;\nconst html = data;\n// Improved regex: handles quotes better, multiline text with [\\s\\S]*?, more attributes\nconst matches = [...html.matchAll(/<a\\s+href=([\"'])((?:(?!\\1).)*)\\1[^>]*>([\\s\\S]*?)<\\/a>/gi)];\nconst trending = matches\n  .map(m => ({ trend: m[3].trim() }))  // Use group 3 for text, trim whitespace\n  .filter(item => !item.trend.includes('#'))\n  .slice(0,$('Edit Fields').first().json['total posts'] );\nreturn trending;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        80
      ],
      "id": "bb483cb5-619a-44bf-ac4d-1cdfaaba9fa1",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        80
      ],
      "id": "1cc70dac-cebb-49b6-9056-2d8e5f34e740",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://nitter.tiekoetter.com/search?f=tweets&q={{$json[\"trend\"].replace(\"#\",\"\").replace(/\\s+/g,\n\"+\")}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -48
      ],
      "id": "bfc8050b-1e87-43f7-8e3f-dcdad300610f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Get HTML from previous node\nconst html = $input.first().json.data;\n\n// Prepare tweets array\nconst tweets = [];\n\n// Basic safety check\nif (!html || typeof html !== 'string') {\n  return [];\n}\n\n// Clean HTML → plain text\nconst cleanText = html\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<\\/?[^>]+>/g, '')\n  .trim();\n\n// Split into lines and create tweets\nconst lines = cleanText.split('\\n').map(l => l.trim()).filter(Boolean);\n\nfor (const line of lines) {\n  if (line.length > 0 && line.length <= 280) {\n    tweets.push({\n      json: {\n        tweet: line\n      }\n    });\n  }\n}\n\n// Return tweets\nreturn tweets;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -48
      ],
      "id": "d84ffa62-5f63-45cb-85c9-7eb1fc078270",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst contents = $input.all().map(item => item.json.content).filter(Boolean);\nconst context = contents.join(\"\\n\\n\");\nreturn [{ json: { context } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -48
      ],
      "id": "84e6809b-1839-4698-8b9f-06a9198ae0a3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here are 10 recent posts about this trend for context:\n{{ $json.context }}\nNow, analyze these posts and write one single, witty, compelling, and insightful tweet about this trend.\nMake sure your response is in JSON format.",
        "options": {
          "systemMessage": "You are a helpful assistantYou are a social media expert and trend analyst who writes viral, witty, and insightful posts for X\n(Twitter).\nYou specialize in understanding trending topics and crafting short, emotionally engaging, and\nthought-provoking posts that sound human, not robotic.\nYour goals:\n- Analyze the provided context posts to understand tone and emotions.\n- Find a clever or original angle.\n- Write a single tweet (max 280 chars) that’s witty, fresh, and authentic.\n- Avoid hashtags unless absolutely necessary.\n- Avoid sounding generic or AI-generated."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1792,
        -48
      ],
      "id": "eebbb875-64dd-4a87-841c-ba8ad1ffa08f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1776,
        128
      ],
      "id": "0936d0ce-6605-4926-b4b2-df3357fbdc46",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "tDqSRPBGd9DkamEK",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst inputString = $input.first().json.output;\nconst cleanedString = inputString.replace(/```json\\n|```/g,'').trim();\nconst parsedJson = JSON.parse(cleanedString);\nconst tweet = parsedJson.tweet;\nreturn [{ json: { tweet } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        -48
      ],
      "id": "b36a58f5-dbd4-4b8e-afc3-c115251b07f5",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "text": "={{ $json.tweet }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        2496,
        16
      ],
      "id": "a1791d6b-b415-4cf1-98f0-b99e7c9b525a",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "ppr58ccVkrEHhnwM",
          "name": "X account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "649aab65-1e84-41a4-bb9d-020033964451",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c194153ac891724159d53bff0f4ef83f81e52718a28ce5fd5e9d420a725aec6"
  },
  "id": "bmGSH-uXGBiLPzNf6l97_",
  "tags": []
}